{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" media="print">
    <title>Stock 4 You</title>
</head>
<body>
    {% include 'inventory/navagation.html' %}
    {% block content %}
    {% endblock %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/quagga.min.js' %}"></script>
    <script src="{% static 'js/camera.js' %}"></script>
    <script src="{% static 'js/moredetails.js' %}"></script>
    
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>