{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid mt-3">
    <h2>Checked Out Items - Print View</h2>
    {% if messages %}
    <div class="row mt-5">
        {% for message in messages %}
        <div class="col-md-10 col-12 mx-auto alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    {% if checkouts.exists %}
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">PC Name</th>
                <th>Checked Out By</th>
                <th>Checked Out To</th>
                <th>Checked Out At</th>
            </tr>
        </thead>
        <tbody>
            {% for checkout in checkouts %}
            <tr class="table-light">
                <td>{{ checkout.item.pc_name }}</td>
                <td>{{ checkout.checked_out_by.username }}</td>
                <td>{{ checkout.checked_out_to.first_name }} {{ checkout.checked_out_to.last_name }}</td>
                <td>{{ checkout.checked_out_at|date:"M d, Y H:i" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-info">No items are currently checked out.</div>
    {% endif %}
</div>
{% endblock %}
