{% extends 'inventory/base.html' %}
{% block content %}
{% if messages %}
<div class="row mt-3">
  {% for message in messages %}
  {% if message.tags == 'error' %}
  <div class="col-md-10 col-12 mx-auto alert alert-danger">
    {{ message }}
  </div>
  {% else %}
  <div class="col-md-10 col-12 mx-auto alert alert-success">
    {{ message }}
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endif %}
<div class="row">
  <div class="col-md-10 col-12 mx-auto mt-5">
    <div class="d-flex justify-content-end mb-3">
      <form method="GET" action="{% url 'dashboard' %}" class="me-2">
        <input type="text" name="search" placeholder="Search items..." value="{{ search_query }}">
        <button type="submit" class="btn btn-secondary">Search</button>
      </form>
      <a href="{% url 'add-item' %}" class="btn btn-primary">+</a>
    </div>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col"><a href="?sort=id&order={{ next_sort_order }}">ID</a></th>
          <th scope="col"><a href="?sort=name&order={{ next_sort_order }}">Name</a></th>
          <th scope="col"><a href="?sort=quantity&order={{ next_sort_order }}">Qty</a></th>
          <th scope="col"><a href="?sort=category&order={{ next_sort_order }}">Category</a></th>
          <th scope="col"><a href="?sort=barcode&order={{ next_sort_order }}">Barcode</a></th>
          <th scope="col"><a href="?sort=location&order={{ next_sort_order }}">Location</a></th>
          <th scope="col"><a href="?sort=supplier&order={{ next_sort_order }}">Supplier</a></th>
          <th scope="col"><a href="?sort=notes&order={{ next_sort_order }}">Notes</a></th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% if items|length == 0 %}
        <tr>
          <th scope="row">-</th>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        {% endif %}
        {% for item in items %}
        <tr>
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.name }}</td>
            <!-- Apply conditional class directly to this cell -->
            <td class="{% if item.id in low_inventory_ids %}text-danger{% else %}text-success{% endif %}">{{ item.quantity }}</td>
            <td>{{ item.category.name }}</td>
            <td>{{ item.barcode }}</td>
            <td>{{ item.location }}</td>
            <td>{{ item.supplier }}</td>
            <td>{{ item.notes }}</td>
            <td><a href="{% url 'edit-item' item.id %}" class="btn btn-outline-secondary">Edit</a></td>
            <td><a href="{% url 'delete-item' item.id %}" class="btn btn-secondary">Delete</a></td>
            <td><a href="{% url 'checkout_item' item.id %}" class="btn btn-info">Check Out</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}