{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Checked Out Items</h2>
<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Checked Out By</th>
            <th>Checked Out At</th>
        </tr>
    </thead>
    <tbody>
        {% for checkout in checkouts %}
        <tr>
            <td>{{ checkout.item.name }}</td>
            <td>{{ checkout.user.username }}</td>
            <td>{{ checkout.checked_out_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}